*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #EE3A43;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  color: #fff;
}

div{
  width: 100%;
}

label{
  font-size: 10px;
  color: #fff;
}

input{
  padding: 10px;
  width: 280px;
  border-radius: 20px;
  border: none;
  outline: none;
}

a{
  width: 100%;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 20px;
  background: none;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

a:hover{
  background-color: #fff;
  color: #000;
}