*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  font-family: Arial, sans-serif;
}

/* HEADER */
header{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  background-color: #EE3A43;
  color: #fff;
}

header a{
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

header img{
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

/* MAIN */
main{
  width: 100%;
}

/* CONTAINER */
.sessao-compra{
  width: 100%;
}

/* IMAGEM */
.img-combo{
  width: 100%;
}

.combo{
  width: 100%;
  height: auto;
  display: block;
}

/* BOTÃO */
main button{
  padding: 15px;
  width: 100%;
  background-color: #008000;
  border: none;
  color: #fff;
  font-size: 16px;
}

main button:hover{
  background-color: gray;
  color: black;
}

/* BLOCO CONFIANÇA */
.info-pizzaria{
  margin: 20px 15px 90px 15px; /* espaço pro footer */
  padding: 15px;
  background-color: #fff3f3;
  border-radius: 8px;
}

.info-pizzaria p{
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

/* FOOTER FIXO */
footer{
  background-color: #EE3A43;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer a{
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  }
