*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 55px;
  background-color: #EE3A43;
  color: #fff;
}

header a{
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

header img{
  width: 35px;
  height: 35px;
  border-radius: 100%;
}

main{
  
}

.combo{
  width: 360px;
  height: 500px;
}

main button{
  padding: 15px;
  width: 100%;
  background-color: #008000;
  border: none;
  color: #fff;
}

main button:hover{
  background-color: gray;
  color: black;
}

footer{
  background-color: #EE3A43;
  color: white;
  text-align: center;
  padding: 15px;
  position: fixed;
  bottom: 0;
  width: 100%;
}